<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Book My Turf - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="asset/img/favicon.png" rel="icon">
  <link href="asset/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'asset/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'asset/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><img src="{% static 'asset/img/turflogo.jpeg' %}" height="100px">BOOK MY TURF</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="asset/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Teams</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/userlogin">LOGIN</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Grass stains are temporary,memories are forever</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Join a community that values the joy of the game, fostering camaraderie and memorable moments</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="/userlogin" class="btn-get-started scrollto">LOGIN HERE</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'asset/img/football.jpg' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="asset/img/clients/client-1.png" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="asset/img/clients/client-2.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="asset/img/clients/client-3.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="asset/img/clients/client-4.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="asset/img/clients/client-5.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="asset/img/clients/client-6.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
            <p align="justify">
              "Book My Turf" is a platform that allows users to easily book sports facilities, primarily turf grounds, for various sports activities.
              The service provides a convenient way for individuals to secure playing spaces for sports like soccer, cricket, field hockey and more.
              Users can browse available turf venues, check availability, and make reservations through the platform.
              It simplifies the process of finding and booking sports facilities, making it easier for enthusiasts to organize and enjoy their favorite sports activities.
            </p>
           <p align="justify">
             Whether you're a seasoned athlete or just starting, the convenience of reserving a turf through this platform encourages
             more people to embrace on active and healthy lifestyle. So, lace up those sports shoes, book your turf, and get
             ready for an exhilarating game on a well-maintained-field- all made possible by "Book My Turf".
           </p>
          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="{% static 'asset/img/football2.jpg' %}" alt="" class="img-fluid animated">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Happy Users</strong> relish the simplicity of navigating through our intuitive turf booking platform, ensuring a delightful booking process.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-dribbble"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Turfs</strong> can be utilized to transform barren patches of land into vibrant, green oases.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Experience</strong>  the convenience of round-the-clock turf access with our seamless booking system, making it easy to secure the perfect playing time whenever suits you </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Teams</strong> sponsoring turf booking system play a pivotal role in fostering a sense of camaraderie among sports enthusiasts by supporting a reliable and user-friendly turf booking platform</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Book My Turf provides the following services</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title">Turf Booking</h4>
              <p class="description">Users can browse through a variety of sports turf facilities, check their availability, and book them for specific time slots.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title">Venue Information</h4>
              <p class="description">Detailed information about each turf venue, including facilities, amenities, and any specific rules or regulations.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title">Real-Time Availability</h4>
              <p class="description">The platform typically offers real-time updates on turf availability, helping users plan their sports activities efficiently.  </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-money"></i></div>
              <h4 class="title">Secure Payments</h4>
              <p class="description">This platform facilitates secure online payments for turf reservations, ensuring a smooth and convenient transaction process.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>Book My Turf contains the following features</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class='bx bxs-user-account' style="color: #ffbb2c;"></i>
              <h3>Personalized User Accounts</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class='bx bx-search-alt' style="color: #5578ff;"></i>
              <h3>Advanced Search Filters</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class='bx bx-basketball' style="color: #e80368;"></i>
              <h3>Multi-Sport Options</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class='bx bxs-wallet' style="color: #e361ff;"></i>
              <h3>Cancellation & Refund Policy</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class='bx bx-bell' style="color: #47aeff;"></i>
              <h3>Notification Alerts</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
             <i class='bx bxs-offer' style="color: #ffa76e;"></i>
              <h3>Promotional Deals</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class='bx bx-history' style="color: #11dbcf;"></i>
              <h3>Booking History</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class='bx bxs-user-badge' style="color: #4233ff;"></i>
              <h3>Membership Programs</h3>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
          <p>Discover what our community is saying about their experiences with Book My Turf</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="asset/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Chris H</h3>
                  <h4>Sports Coach</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I can't recommend Book My Turf enough! The platform's user-friendly design, coupled with its extensive network of sports facilities, has made it an essential tool for athletes, coaches, and sports enthusiasts alike. It's a must-have for anyone serious about their game.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="asset/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sarah Thampi</h3>
                  <h4>Sports Enthusiast</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   Book My Turf has revolutionized the way I schedule and manage my sports activities. The user-friendly interface and efficient booking system have made it incredibly convenient for me to reserve turf spaces for my team. A game-changer in the sports booking arena!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="asset/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Alex M</h3>
                  <h4>Soccer Team Captain</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I can't imagine planning our weekend soccer matches without Book My Turf. The platform is intuitive, and the real-time availability updates save us a lot of time. Thanks to Book My Turf, organizing our matches has become a breeze!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="asset/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Joseph Alex</h3>
                  <h4>P T Teacher</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Book My Turf is a game-changer for our school's sports programs. The platform simplifies the reservation process, making it easy for both students and staff. It's an invaluable tool that has streamlined our sports facility management.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="asset/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Abhinand Sajeev</h3>
                  <h4>Certified Fitness Trainer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   As a fitness trainer, Book My Turf has been instrumental in securing training spaces for my clients. The convenience of booking, coupled with the variety of available facilities, has significantly improved my ability to provide diverse and engaging workouts.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p><em>"Trusted By Champions"</em> </p>
          <p>Partnering with the best to bring you the best.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'asset/img/team/team-1.png' %}" class="img-fluid" alt="">
                <div class="social">

                  <a href=""><i class="bi bi-instagram"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'asset/img/team/team-2.png' %}" class="img-fluid" alt="">
                <div class="social">

                  <a href=""><i class="bi bi-instagram"></i></a>

                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'asset/img/team/team-3.png' %}" class="img-fluid" alt="">
                <div class="social">

                  <a href=""><i class="bi bi-instagram"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'asset/img/team/team-4.png' %}" class="img-fluid" alt="">
                <div class="social">

                  <a href=""><i class="bi bi-instagram"></i></a>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Membership</h2>
          <p>Take your turf bookings to the next level with our membership program</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Basic</h3>
              <h4><sup>₹</sup>75<span> / month</span></h4>
              <ul>
                <li>Standard Booking Access</li>
                <li>Limited Discounts</li>
                <li>Seasonal Promotions</li>
                <li>Basic Customer Support</li>
                <li>Standard Cancellation Policies</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h3>Premium</h3>
              <h4><sup>₹</sup>132<span> / month</span></h4>
              <ul>
                <li>Priority Booking</li>
                <li>Discounts</li>
                <li>Exclusive Offers</li>
                <li>Member Events</li>
                <li>Flexible Cancellation</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
              <h3>Elite</h3>
              <h4><sup>₹</sup>149<span> / month</span></h4>
              <ul>
                <li>Enhanced Priority Booking</li>
                <li>VIP Member Events</li>
                <li>Elite Reward Programs</li>
                <li>Exclusive Elite Discounts</li>
                <li>Special Elite Merchandise</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>How do I make a turf booking?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              To make a booking, simply visit our website, log in to your account, choose your preferred date and time, select the desired turf facility, and proceed with the reservation.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Can I book a turf for multiple dates in advance?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Yes, our system allows you to make bookings for multiple dates in advance, providing flexibility and convenience for planning your sports activities.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Is there a membership program available for additional benefits?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Yes, we offer a membership program with exclusive benefits, including priority bookings, special discounts, and other perks. Check our membership section for more details.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Are there any additional fees or charges on top of the booking cost?</h4>
          </div>
          <div class="col-lg-7">
            <p>
             The booking cost includes the turf rental fee. Additional charges may apply for specific services or facilities.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>What happens if there is inclement weather on the booked date?</h4>
          </div>
          <div class="col-lg-7">
            <p> In the case of inclement weather, our system provides options for rescheduling or canceling your booking. Check our weather policy for more information on how we handle such situations.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Book My Turf</h3>
              <p>Book My Turf is an innovative online platform designed to streamline the process of booking sports turf playgrounds. This user-friendly system allows enthusiasts, sports teams, and organizers to easily reserve and manage their preferred turf facilities for various activities. </p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Kakkanad, Kochi<br>Ernakulam, 682030</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>bookmyturf@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+91 8921782668</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Book My Turf</strong> <br>All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
             <a href="https://bootstrapmade.com/"></a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'asset/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'asset/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'asset/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'asset/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'asset/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'asset/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'asset/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'asset/js/main.js' %}"></script>

</body>

</html>