<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Data from API</title>
</head>
<body>
 <button onclick="livescore()">Get Live Score</button>
 <div id="livescore-info"></div>
    <script>
        // Your JavaScript code here
        async function livescore() {
        const url = 'https://bet365-futebol-virtual.p.rapidapi.com/all/5';
        const options = {
	    method: 'GET',
	    headers: {
		'X-RapidAPI-Key': '2f5f879c8emsh3c498feaddb2013p177f4bjsnd926154ca68b',
		'X-RapidAPI-Host': 'bet365-futebol-virtual.p.rapidapi.com'
	}
};

try {
	const response = await fetch(url, options);
	const result = await response.text();
	console.log(result);
	document.getElementById("livescore-info").innerHTML=result;
} catch (error) {
	console.error(error);
}
        }
    </script>
</body>
</html>
