<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Membership Program</title>

</head>
<body>
{% include 'sidebar.html' %}
 <div class="container" style=" margin: 100px 100px 100px 400px;">
<div class="row">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'asset/img/basic.png' %}" alt="Card image cap">
  <div class="card-body">
      <h5 class="card-title"><strong>Enjoy your Play Time</strong></h5>
    <ul>
                <li>Standard Booking Access</li>
                <li>Limited Discounts</li>
                <li>Seasonal Promotions</li>
                <li>Basic Customer Support</li>
                <li>Standard Cancellation Policies</li>
              </ul>
      <br>
    <center><a href="#" class="btn btn-primary">₹ 75.00/Month</a></center>
  </div>
</div>

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'asset/img/premium.png' %}" alt="Card image cap">
  <div class="card-body">
      <h5 class="card-title"><strong><center>No Limit to Play</center></strong></h5>
    <ul>
                <li>Priority Booking</li>
                <li>Discounts</li>
                <li>Exclusive Offers</li>
                <li>Member Events</li>
                <li>Flexible Cancellation</li>
              </ul>
      <br>
    <center><a href="#" class="btn btn-primary">₹ 132.00/Month </a></center>
  </div>
</div>

     <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'asset/img/elite.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><strong><center>Unlimited Play</center></strong></h5>
    <ul>
                <li>Enhanced Priority Booking</li>
                <li>VIP Member Events</li>
                <li>Elite Reward Programs</li>
                <li>Exclusive Elite Discounts</li>
                <li>Special Elite Merchandise</li>
              </ul>
      <br>
    <center><a href="#" class="btn btn-primary">₹ 149.00/Month</a></center>
  </div>
</div>

    </div>
 </div>
</body>
</html>