<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
    <style>
        body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

table {
 border-collapse: collapse;
  width: 100%
}
tr,td,th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
h2 {
text-align: center;
}
    </style>
</head>
<body>
{% include 'sidebar2.html' %}
 <div class="body-wrapper">
<div  class="topnav">

    <a href="/addresource" class="btn btn-custom">ADD RESOURCE</a>

</div><br>
<h2>VIEW RESOURCES</h2>
<table>
    <tr>
        <th>TURF NAME </th>
        <th> RESOURCE NAME </th>
        <th> TOTAL NUMBER </th>
    </tr>
    {%for i in v%}
    <tr>
        <td>{{i.turf_id.tname}}</td>
        <td>{{i.res_name}}</td>
        <td>{{i.res_number}}</td>
        <td> <a href="/editresource/{{i.id}}" class="btn btn-primary btn-lg btn-block" style="width:90%;">UPDATE</a></td>
        <td> <a href="/deleteresource/{{i.id}}" class="btn btn-primary btn-lg btn-block" style="width:90%;">DELETE</a></td>
    </tr>
    {%endfor%}
</table>
 </div>
</body>
</html>