<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of Use</title>
    <style>
        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 15%;
}
    </style>
</head>
<body>
{% include 'topnavuser1.html' %}
<div>
    <h1 style="text-align: center;">TERMS OF USE</h1>
    <div>
        <p>
            By accessing and using the online sports turf playground booking system provided by Book My Turf, you agree to abide by these Terms of Use.</p>
        <p>If you do not agree with any part of these terms, please refrain from using the platform.</p>
    </div>

</div>
</body>
</html>