<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

table {
 border-collapse: collapse;
  width: 100%
}
tr,td,th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
h2 {
text-align: center;
}
    </style>
</head>
<body>
{% include 'topnavuser.html' %}
  <div class="body-wrapper">
<h2>VIEW RATING</h2>
<table>
    <tr>
        <th>NAME</th>
         <th>TURF NAME</th>
        <th>RATING</th>
    </tr>
    {%for i in v%}
    <tr>
        <td>{{i.user_id.fname}}</td>
        <td>{{i.turf_id.tname}}</td>
        <td>{{i.rating}}</td>
    {%endfor%}

    </tr>
</table>
  </div>
</body>
</html>